%nav.nav-css.top-bar{data: {topbar: ''}, role: 'navigation'}
  %ul.title-area
    %li.name
      %h1
        = link_to 'The Artist Roll Call', root_path
    %li.toggle-topbar.menu-icon
      = link_to 'menu', '#'

  %section.top-bar-section
    %ul.right#right_section
      %li
        %span#link-border-bottom
          = link_to 'ABOUT', about_path
      %li
        %span#link-border-bottom
          = link_to 'VIDEOS', video_index_path
      %li
        %span#link-border-bottom
          = link_to '#', :onclick => "$('#ytModal').foundation('reveal', 'open')" do
            = fa_icon 'plus'
            YOUTUBE VIDEO
    %ul.left
      %li.has-form
        .row.collapse.search
          =render partial: "welcome/search_form"