.row
  .column.small-12
    %h1 About
    %p Lorem ipsum dolor sit amet, ea pri agam efficiendi. Sit ullum nihil referrentur no. Eam tota dissentias an. Laboramus interpretaris ne quo, luptatum praesent eu cum, nec ne maiorum definiebas. Inani fastidii consulatu sit id, diam omnium deseruisse usu ad, veri delenit epicurei ex est. Ei delenit dissentiunt sea.

    %p Ancillae tractatos gloriatur id quo, cum porro albucius in. Pro legere volumus fabellas ne, ex cum iusto efficiendi, his eu utinam concludaturque. Pri salutandi persequeris ne, et iudico petentium quo, id sit elit lucilius oportere. Vis euismod deserunt definitionem id.

    %p Pro epicuri intellegat disputando an, saperet insolens consetetur sed no, cetero referrentur vim ex. Qui ad congue inimicus. Vis decore tamquam ad, vix adhuc cotidieque ut. Est no error persius eripuit, legere bonorum sit in, at nam mucius adipisci. Diceret accusam scriptorem nam an.

.row
  .columns.small-12.large-6
    %h2 We love feedback
    #contact_form
      = simple_form_for @contact_form, remote: true do |f|
        = f.input :name
        = f.input :email
        = f.input :message, as: :text
        = f.submit 'Send',class: 'button'