.row
  .column.small-12.medium-6
    %h1 About

    %p WhoDatIs helps you discover your favorite dancers and choreographers. We provide a platform to share dance videos with tags linking directly to dancers’ and choreographers’ social media profiles.

    %p WhoDatIs was born after our founder, dancer/web developer Anthony Edwards, Jr., had experienced too many frustrating attempts to follow the dancers who inspired him.

    %p Say goodbye to scouring comment sections, tags, and endless social media posts in search of that dope dancer you saw with your favorite artist or online.

    %p If you’re a dancer or choreographer, WhoDatIs empowers you to connect with your fans, build your fan base, and get noticed.

    %p Whether you’re a fan, dancer, or choreographer, WhoDatIs helps you keep up with your faves and find inspiration. Fast.

    %p Never find yourself wondering, “Who dat is?” again!

.row
  .columns.small-12.large-6
    %h2 We love feedback
    #contact_form
      = simple_form_for @contact_form, remote: true do |f|
        = f.input :name
        = f.input :email
        = f.input :message, as: :text
        = f.submit 'Send',class: 'button'