.columns.small-12.medium-9
  .row.transparent-box
    .columns.small-12.medium-11.small-centered
      .flex-video{id: "flex-video-#{@video.id}"}
        %iframe{ :width=>"420", :height=>"315", :src=>"http://www.youtube.com/embed/#{video.url}", :frameborder=>"0"}

      %a.button.small-12{id:"tag_dropdown",data: {dropdown: "contentDrop", options: 'align:top'}, 'aria-controls': "contentDrop", 'aria-expanded': "false"}
        Suggest Artists

      #contentDrop.f-dropdown.content.large{data: {'dropdown-content'=>""}, 'aria-hidden': "true", 'tabindex': "-1"}
        =form_tag video_tag_path(@video), method: :post, remote: true  do |f|
          .row.radio-button-div
            =label_tag :artist_role, '1: Select Artist Type'
            .column.small-4.form-radio
              =radio_button_tag(:artist_role, "dancer", required: true)
              =label_tag(:artist_role, "Dancer")
            .column.small-4.form-radio
              =radio_button_tag(:artist_role, "choreographer")
              =label_tag(:artist_role, "Choreographer")
            .column.small-4.form-radio
              =radio_button_tag(:artist_role, "assist_choreographer")
              =label_tag(:artist_role, "Asst Choreographer")
          .row
            =label_tag :dancer_tags, '2: Add twitter handle of Artist ex.  @example'
            .small-9.columns.no_padding
              = text_field :dancer_tags, nil, id: "dancer_tags"
            .small-3.columns.no_padding
              =submit_tag  "Add Artist",  class: 'button postfix'

      .columns.small-12.video-stats
        .row
          %ul.inline-list
            %li.source-font{id: "video-author-#{@video.id}"}
              %span
                %h6 Channel:
                = @video.yt_author

            %li.source-font{id: "video-count-#{@video.id}"}
              %span
                %h6 Views:
                = number_to_human(@video.yt_count)

            %li.source-font
              %span
                %h6 Published By:
                = "#{time_ago_in_words(@video.yt_pub_date)} ago"
        .row.description-stats
          %ul
            %li.source-font{id: "video-description-#{@video.id}"}
              %span
                %h6 Description:
              %p= @video.yt_description

.columns.small-12.medium-3
  #twitter_list.small-12.columns.scrollable
    %p Up Vote to approve artists in the video or to Down vote artists that are not in video
    =render partial: "shared/twitter_list", locals: {twitter_list: @dancers, choreographer: @choreographer, assist_choreographers: @asst_choreographers}