.row
  =image_tag(@artist.twitter_img_url)
  %h6= @artist.twitter_screen_name
  %a.twitter-follow-button{ href: "https://twitter.com/#{@artist.twitter_screen_name}", data: {"show-count" => "false", lang: "en"}}
    Follow @
    ="#{@artist.twitter_screen_name}"

.row
  %h5 Videos
  - @videos.each do |vid|
    .columns.small-3
      .flex-video{id: "flex-video-#{vid.id}"}
        %iframe{ :width=>"196", :height=>"110", :src=>"http://www.youtube.com/embed/#{vid.url}", :frameborder=>"0"}
      = link_to 'View', video_path(vid)

.row
  .columns.small-12
    %h5 Recommended Artists
    %ul
      - @recommended_artists.each do |art|
        =render partial: "shared/twitter_node", locals: {twitter_node: art}