%nav.nav-css.top-bar{data: {topbar: ''}, role: 'navigation'}
  %ul.title-area
    %li.name
      %h1
        = link_to 'WhoDatis', root_path
    %li.toggle-topbar.menu-icon
      = link_to 'menu', '#'

  %section.top-bar-section
    %ul.right#right_section
      - if user_signed_in?

        %li
          %span#link-border-bottom
            ="signed in as #{current_user.name}"
        %li
          %span#link-border-bottom
            = link_to 'Log Out', destroy_user_session_path, method: :delete

      - else
        %li
          %span#link-border-bottom
            = link_to "Sign in with Twitter", omniauth_authorize_path(:user, :twitter), target: "_blank"
      %li
        %span#link-border-bottom
          = link_to 'ABOUT', about_path
      %li
        %span#link-border-bottom
          = link_to 'VIDEOS', video_index_path

      %li
        %span#link-border-bottom
          = link_to '#', :onclick => "$('#ytModal').foundation('reveal', 'open')" do
            = fa_icon 'plus'
            YOUTUBE VIDEO
    %ul.left
      %li.has-form
        .row.collapse.search
          =render partial: "welcome/search_form"