.row
  #banner_section.small-12.columns
    %h1 Wonder No more who those dope artists are. Watch, Discover & Connect Fast
    .row.small-12.columns.banner_row
      = image_tag("whodatisbanner_3.png", class: "banner center")

.row.welcome-section
  %h3.white_font Featured Artists
  - @featured_artists.each do |art|
    .small-12.medium-6.large-3.columns.left.transparent-box.spacing
      = link_to image_tag( art.twitter_img_url.split('normal').join('200x200'), class: 'banner center'), artist_path(art)
      %h6.center= art.name
      .button_container
        %a.twitter-follow-button{ href: "https://twitter.com/#{art.twitter_screen_name}", data: {"show-count" => "false", lang: "en"}, class: "center"}
          Follow @
          ="#{art.twitter_screen_name}"

.row
  #mid_welcome_section.small-12.columns
    %h6
      "WhoDatIs empowers you to connect with your fans, build your fan base, and get noticed."


.row.welcome-section
  %h3.white_font Newest Videos
  - @newest_videos.each do |vid|
    .small-3.columns.left.transparent-box.spacing
      .flex-video{id: "flex-video-#{vid.id}"}
        %iframe{ :width=>"196", :height=>"110", :src=>"http://www.youtube.com/embed/#{vid.url}", :frameborder=>"0"}
      = link_to video_path(vid), class: 'button video-button' do
        = fa_icon 'youtube-play'
        Watch & Discover

